body {
  padding-top: 0px;
}

.header {
  background-color:#408000;
  color: #fff;
  top: 0px;
  vertical-align:top;
  height: 50px;
  margin: 0;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-logo {
  margin-top:5px;
  margin-left:5px;
  height:55px;
}

.menu_green_line {

  background-color: #cccccc;
  padding: 5px;
}

.solde {
  padding-top: 10px;
  padding-bottom: 10px;
}

table {
  font-size: 0.8em;
}
.icon::before {
    font-size: 1.2em;
}
