<link href="app/components/compte/compte.css" rel="stylesheet">
<div class="menu_green_line" >   </div>
<form class="form-compte">
  <h2 class="form-virement-heading">Nouveau compte </h2>
  <label for="inputName" class="sr-only">Nom</label>
  <input ng-model="user.name" type="text" id="inputNom" class="form-control" placeholder="Nom" required autofocus>

  <label for="inputEmail" class="sr-only">Email</label>
  <input ng-model="user.email" type="email" id="inputEmail" class="form-control" placeholder="Email" required>

  <label for="inputPassword" class="sr-only">Email</label>
  <input ng-model="user.password" type="password" step="any" min="0" id="inputPassword"
  class="form-control" placeholder="Mot de passe" required>

  <button ng-if=" user.name && user.email && user.password " class="btn btn-lg btn-primary btn-block"
  type="submit">Créer le compte</button>
</form>
