<link href="app/components/landing/landing.css" rel="stylesheet">
<form class="form-landing">
  <h2 class="form-landing-heading text-center">Bienvenue</h2>
  <footer class="footer">
      <div class="container">
        <a href="#/compte" class="btn btn-lg btn-default btn-block" >Nouveau client</a>
        <a href="#/login" class="btn btn-lg btn-primary btn-block" >Connexion</a>
      </div>
    </footer>
</form>
