.form-landing {
  max-width: 330px;
  /*padding: 15px;*/
}

@media (min-width: 800px) {
  .form-landing {
    margin: 0 auto;
  }

}


@media (max-width: 400px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    /* Set the fixed height of the footer here */
  }
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
