<link href="app/components/welcome/welcome.css" rel="stylesheet">
<div class="menu_green_line" > Bienvenue M. ABAZIOU PASCAL </div>
<div class="welcome">
  <div class="text-center">
    <p class="solde bg-success">
    Solde : {{solde | currency : " € "}}</p>
  </div>
  <a href="#/virement" class="btn btn-default btn-block icon ion-arrow-swap">
    Effectuer un virement
  </a>
  <a href="#/historique" class="btn btn-default btn-block icon ion-stats-bars">
    Consulter l'historique
  </a>
  <!-- ion-stats-bars -->
  <div class="btn btn-default btn-block icon ion-arrow-graph-up-right">
    Voir mon budget
  </div>
</div>
