body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.navbar {
    /*
    background-color: #55a9d9;
    color: whitesmoke;
    */
}

textarea {
    resize: none;
    height: 42px;
}

textarea.form-control {
    height: 42px;

}

span.eventbody {
    word-wrap: break-word;
    white-space: pre;
}

#channel_meta {

    padding-left: .25em;
    padding-right: .25em;

}

/* Topic Heder */

h4 .topic {
    color: darkgray;
    font-size: .8em;
    font-weight: normal;
}

    /* Stream */

.stream-content {
}

.timeline {
    padding:0;
}

.poster {
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
}

.poster .btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

[data-hidden="hidden"] {
    /* display: none; /* OR */
    visibility: hidden; /* If you want to reserve space */
}

.stream-item .dateevent {
    color: gainsboro;
}

.stream-item /* :not(.no-header-background-module) */
{
    border-bottom: 1px solid #e1e8ed;
    cursor: pointer;
background: #fff;
border-left: 1px solid #e1e8ed;
border-right: 1px solid #e1e8ed;
background-clip: padding-box;
    margin: +0;
    padding-left: .25em;
    padding-right: .25em;
}

.stream-item img {
    float: left;
    width: 36px;
    margin-top:5px;
    margin-right:10px;
    border-radius: 8px;
}

.stream-content {
    margin-left: 46px;

}

/*
  Channels list

*/
.channels_list_holder h4{
    padding-left: 10px;

}
.channels_list_holder {
    padding-left: 0px;

}
.channels_list_holder ul {
    padding-left: 0px;
}

.channels_list_holder ul li {
    font-size: 1.5rem;
    line-height: 2.5rem;
    height: 2.5rem;
    margin-left: 10px;
    margin-right: 1px;
    position: relative;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
}

/*
.channels_list_holder ul li.active .badge {
    color: black;
    background-color: whitesmoke;
}
*/


.channels_list_holder ul li.active {
    color: #fff;
    background-color: #4582ec;
    margin: 0;
    padding-left: 10px;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;}

#col_channels {
    background: #4d394b;
    color: #ab9ba9;
    width: 220px;
    float: left;
    position: relative;
    font-family: Slack-Lato,appleLogo,sans-serif;
    top: 19px;
}

/*

User info
     */

.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 200px;
    max-width: 340px; // orginal twitter width: 290px;
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}