<link href="app/components/login/login.css" rel="stylesheet">
<form class="form-signin">
  <h2 class="form-signin-heading">Connexion</h2>
  <label for="inputEmail" class="sr-only">Identifiant</label>
  <input type="text" ng-model="user.login" id="inputEmail" class="form-control" placeholder="Identifiant" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" ng-model="user.password" id="inputPassword" class="form-control" placeholder="Password" required>
  <!-- <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div> -->
  <div class="btn btn-lg btn-primary btn-block" ng-click="login(user)">Sign in</div>

  reponse = {{response}}
</form>
