<link href="app/components/virement/virement.css" rel="stylesheet">
<div class="menu_green_line" > Compte n°  </div>
<form class="form-virement" autocomplete="off">
  <div class="text-center">
    <p class="solde bg-success">
    Solde : {{solde | currency : " € "}}</p>
  </div>
  <h2 class="form-virement-heading">Virement vers </h2>
  <label for="inputCommpte" class="sr-only">Compte à créditer</label>
  <input ng-model="virement.debitedAccountNumber" type="text" id="inputCompte"
  class="form-control" placeholder="Compte" >

  <label for="inputCommpte" class="sr-only">Compte à créditer</label>
  <input ng-model="virement.creditedAccountNumber" type="text" id="inputCompte"
  class="form-control" placeholder="Compte" >
   <!-- required autofocus
  uib-typeahead="compte for compte.number in comptes | filter:$viewValue | limitTo:8"> -->
  <label for="inputMontant" class="sr-only">Montant</label>
  <input ng-model="virement.amount" type="number" step="any" min="0" id="inputMontant" class="form-control" placeholder="Montant" required>
  <button ng-if="virement.amount > 0 && virement.amount <= solde && virement.creditedAccountNumber " class="btn btn-lg btn-primary btn-block"  ng-click="virer(virement)">Effectuer le virement</button>
  <button disabled ng-if="virement.amount > solde" class="btn btn-lg btn-warning btn-block"  ><i>solde insuffisant</i></button>
  <!-- <div disable ng-show="solde <= 0" class="alert alert-danger" role="alert">Solde insuffisant</div> -->
</form>
