<link href="app/components/historique/historique.css" rel="stylesheet">
<div class="menu_green_line" > Compte n° : 56745635267 </div>
<div class="container historique">
  <legend>Historique des opérations</legend>
  <div class="table-responsive">
  <table class="table minitable">
            <thead>
            <tr>
                <th class="text-center col-strip ">Date</th>
                <th class="text-center col-strip ">Libellé</th>
                <th class="text-center col-strip ">Montant</th>
            </tr>
            </thead>
            <!-- <tbody> -->
              <tbody ng-repeat="operation in historique.content">
            <tr>
                <td class="text-center col-strip ng-binding">{{operation.date}}</td>
                <td class="text-center col-strip ng-binding">{{operation.libelle}}</td>
                <td class="text-center col-strip">{{operation.montant}}</td>
            </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
      </div>
<!-- ng-if="historique.range.total" -->
        <uib-pagination  total-items="historique.range.total"
        ng-model="$parent.currentPage" ng-change="pageChanged()"
        items-per-page="15" nim-pages="smallnumPages"></uib-pagination>
</form>
